.cancel-btn {
    display: flex;
    align-items: center;
}

.cancel-btn>p {
    margin: 0px !important
}

.custom-card-header {
    display: flex;
    justify-content: space-between;
}

.basic-data {
    width: 50%;
    font-size: 15px;
}

.basic-data>mat-form-field {
    margin-right: 10px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper>mat-form-field {
    width: 48%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.submit-btn {
    background: green;
    color: white;
}

.active-color {
    background-color: green !important;
}

.inactive-color {
    background-color: red !important;
} 
