<div class="row">
  <div class="col-md-12">
    <h1>Api e Exemplos</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span>Abaixo segue os links para cada requisição da API, e exemplos das telas para ajuda.</span>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-md-12">
    <mat-tab-group>
      <mat-tab label="Links API">
        <div style="padding: 20px;">
          <div>
            <span>A documentação da API está localizada neste <a href="http://168.138.141.237:9988/" target="_blank"><b>Link</b></a>. Acesse e veja qual URL chamar, qual método, o que deve passar e o que irá receber da API.</span>
          </div>
          <div style="margin-top: 50px;">
            <h2>Lembrando que a url para chamar a API é <b>http://168.138.141.237:33000/URL-ESPECIFICA</b></h2>
          </div>
          <div style="margin-top: 50px;">
            <h3>Obs: Todas as rotas necessitam de um Token de acesso, peça para a equipe na hora do teste!</h3>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Exemplos">
        <div style="padding: 20px;">
          <div>
            <span>Abaixo segue alguns exemplos para cada componente exigido neste teste, para te ajudar com uma referência.</span>
          </div>
          <div>
            <span>Lembrando, os exemplos é apenas uma referência, faça da forma que você achar melhor.</span>
          </div>
          <div style="margin-top: 30px;">
            <h3>Exemplo de listagem de usuários:</h3>
            <img class="img-exemplo" src="../../assets/img/listagem-clientes-exemplo.png">
          </div>
          <div style="margin-top: 30px;">
            <h3>Exemplo de detalhes do usuário:</h3>
            <img class="img-exemplo" src="../../assets/img/detalhes-cliente-exemplo.png">
          </div>
          <div style="margin-top: 30px;">
            <h3>Exemplo de Cadastro/Edição do usuário:</h3>
            <img class="img-exemplo" src="../../assets/img/cadastro-clientes-exemplo.png">
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
